*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Griffy', cursive;  
}

.header{
    display: flex;
    box-shadow: 0 2px 8px gray;
    padding: 10px 20px;
    justify-content: space-between;
  background-image: url(./Pics/rainbowgalaxy.jpg);
    
}

.logo{
    width: 120px;
    height: 100px;
}
.logo2{
    width: 120px;
    height: 100px;
}
.logo3{
    width: 120px;
    height: 100px;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.contMenu{
    display: flex;
    padding: 10px 20px;
    
}

.ItemMenu{
    list-style: none ;
    margin: 0 20px;
}
.LinkMenu{
    text-decoration: none;
    color:white;
    border-bottom: 1px solid rebeccapurple;
    font-size: larger;
}
.main{
    display: flex;
    max-width: 1400px;
    align-content: space-between;
    padding: 50px;
    
}

.divsito{
    display:flex;
    margin: 50px;
    text-align: justify;
    font-size: large;
}
.divsito_1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding:10px;
}
.divsito_2{
    font-size: large;
    text-align: center;
}

.aside{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin: 20px;
    padding: 10px;
    background-color: mediumpurple;
    
}
.img{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    align-self: center;
}
.divsito_4{
align-self: center;
font-size: medium ;
   
}

.footer{
    display: flex;
    padding: 10px;
    background-color:grey;
    position: fixed;
    bottom: 0px;
    width: 100%;

}
.col{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
    height: 35px; 
}



